<%= link_to sport_session_path(session) do %>
  <div class="card session-card mb-3">
    <div class="card-header">
      <%= cl_image_tag session.sport_category.photo.key, height: 300, width: 600, crop: :fill, class: "card-img-top" %>
      <button class="btn btn-primary btn-sm"><%= session.skill_level.capitalize %></button>
    </div>
    <div class="card-body">
      <h5 class="card-title mb-2"><strong><%= session.title %></strong></h5>
      <p class="card-text"><i><%= session.sport_category.name %></i></p>
      <p class="card-text"><%= session.start_time.strftime("%a, %b %e | %H:%M") %> - <%= session.end_time.strftime("%H:%M") %></p>
      <p class="card-text">
        <%= session.price == 0 ? "No fee" : number_with_precision(session.price, precision: 2) %>
        <%= session.price == 0 ? "" : "€" %>
      </p>
      <p class="card-text text-end location-name"><strong><%= session.venue.name %></strong></p>
      <p class="card-text text-end"><small class="text-body-secondary"><%= session.venue.address %></small></p>
    </div>
  </div>
<% end %>
