<div id="list" class="my-3">
  <% if @sport_sessions.empty? %>
  <!-- <p>Sorry, no sessions posted yet! Post one here: <%= link_to "New Sport Session", new_sport_session_path %></p> -->
    <%= link_to root_path do %>
    <div class="card session-card mb-3">
      <div class="card-header">
        <%= image_tag "user_lisa.jpg", alt: "Tennis", width: 600, class: "card-img-top" %>
        <button class="btn btn-outline-primary btn-sm">Intermediate</button>
      </div>
      <div class="card-body">
        <h5 class="card-title">Tennis serve return</h5>
        <p class="card-text"><small class="text-body-secondary">Tennis</small></p>
        <p class="card-text">Sep 3, 2023 | 14-15:30</p>
        <p class="card-text"><small class="text-body-secondary">14€</small></p>
        <p class="card-text text-end location-name">Tennis Club Colonius e.V.</p>
        <p class="card-text text-end"><small class="text-body-secondary">Subbelrather Str. 19, 50823 Köln</small></p>
      </div>
    </div>
    <% end %>
    <div class="card session-card mb-3">
      <div class="card-header">
        <%= image_tag "user_lisa.jpg", alt: "Tennis", width: 600, class: "card-img-top" %>
        <button class="btn btn-primary btn-sm">Tennis - Intermediate</button>
        <h4 class="card-title">Tennis serve return</h4>
      </div>
      <div class="card-body">
        <p class="card-text"><small class="text-body-secondary">Tennis</small></p>
        <p class="card-text">Sep 3, 2023 | 14-15:30</p>
        <p class="card-text"><small class="text-body-secondary">14€</small></p>
        <p class="card-text text-end location-name">Tennis Club Colonius e.V.</p>
        <p class="card-text text-end"><small class="text-body-secondary">Subbelrather Str. 19, 50823 Köln</small></p>
      </div>
    </div>
  <% else %>
    <% @sport_sessions.each do |session| %>
      <p>
        <%= session.title %> - Starting at <%= session.start_time.strftime("%a, %d.%m.%Y, %H:%M") %> until <%= session.start_time.strftime("%H:%M") %>
      </p>
    <% end %>
  <% end %>
</div>
