<div class="position-relative" data-controller="map-list-toggle">
  <div class="toggle-container d-flex">
    <div data-map-list-toggle-target="map" class="map-container technically-gone">
      <div
          data-controller="map"
          data-map-markers-value="<%= @markers.to_json %>"
          data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"
          class="map-container"
        >
      </div>
    </div>
    <div data-map-list-toggle-target="list" class="pt-3 mb-5 container list-container">
      <div class="d-flex justify-content-end mb-3">
        <!-- Button trigger modal -->
        <button type="button" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
          <i class="fa-solid fa-sliders"></i> Filter sessions
        </button>
      </div>
      <!-- Modal -->
      <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="staticBackdropLabel">Filter</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <%= form_with url: sport_sessions_path, method: :get do %>
              <div class="modal-body">
                  <h5 class="my-3"><strong>Find your sport match here:</strong></h5>
                  <div class="form-floating mb-3">
                    <%= text_field_tag :sport,
                      params[:sport],
                      class: "form-control",
                      placeholder: "Sport..."
                    %>
                    <label for="sport">Sport...</label>
                  </div>
                  <div class="form-floating mb-3">
                    <%= text_field_tag :address,
                      params[:address],
                      class: "form-control",
                      placeholder: "Location..."
                    %>
                    <label for="address">Location...</label>
                  </div>
                  <div class="my-3">
                    <%= date_field :date,
                      params[:date],
                      class: "form-control py-3",
                      placeholder: "Date",
                      as: :string,
                      input_html: { data: { controller: "birthdate" } }
                    %>
                  </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Close</button>
                <%= submit_tag "Filter", name: "", class: "btn btn-primary" %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
      <% if @sport_sessions.empty? %>
        <p>Sorry, no sessions posted yet! Post one here: <%= link_to "New Sport Session", new_sport_session_path %></p>
      <% else %>
        <% @sport_sessions.sort_by(&:start_time).each do |session| %>
          <%= render "session_card", session: session %>
        <% end %>
      <% end %>
    </div>
    <!-- PUT THE MAP IN HERE -->
  </div>
  <button data-action="click->map-list-toggle#fire" data-page="list" data-map-list-toggle-target="button" class="btn btn-primary position-fixed start-50 translate-middle shadow" style="bottom: 73px;">
    <i class="far fa-map"></i> Show Map
  </button>
</div>
