<div class="card session-card m-3">
  <div class="card card-header">
    <%= cl_image_tag @sport_session.sport_category.photo.key, height: 300, width: 600, crop: :fill, class: "card-img-top" %>
    <button class="btn btn-primary btn-sm"><%= @sport_session.skill_level.capitalize %></button>
  </div>
  <div class="card-body">
    <div class="d-flex mb-3">
      <div class="flex-grow-1 pe-1">
        <h5>
          <strong><%= @sport_session.title %></strong>
        </h5>
        <p class="my-1">
          with <%= @sport_session.user.first_name %>
        </p>
      </div>
      <div class="align-self-center">
        <%= cl_image_tag @sport_session.user.photo.key, width: 100, height: 100, crop: :fill, class: "avatar_banner", alt: "avatar" %>
      </div>
    </div>
    <p class="mb-3">
      <%= @sport_session.description %>
    </p>
    <p>
      <i class="fa-solid fa-location-dot me-3"></i><%= @sport_session.venue.address %>
    </p>
    <p>
      <i class="fa-solid fa-clock me-3"></i>
      <%= @sport_session.start_time.strftime("%d.%m.%Y | %H:%M") %> - <%= @sport_session.end_time.strftime("%H:%M") %>
    </p>
    <p>
      <i class="fa-solid fa-user me-3"></i>
      <% if @sport_session.max_attendees - @sport_session.attendees.count > 1 %>
        <%= @sport_session.max_attendees - @sport_session.attendees.count %> available spaces | <%= @sport_session.price == 0 ? "No fee" : number_with_precision(@sport_session.price, precision: 2) %><%= @sport_session.price == 0 ? "" : "€" %>
      <% elsif @sport_session.max_attendees - @sport_session.attendees.count == 1 %>
        <%= @sport_session.max_attendees - @sport_session.attendees.count %> available space | <%= @sport_session.price == 0 ? "No fee" : number_with_precision(@sport_session.price, precision: 2) %><%= @sport_session.price == 0 ? "" : "€" %>
      <% elsif @sport_session.max_attendees - @sport_session.attendees.count == 0 %>
        fully booked | <%= @sport_session.price == 0 ? "No fee" : number_with_precision(@sport_session.price, precision: 2) %><%= @sport_session.price == 0 ? "" : "€" %>
      <% end %>
    </p>
    <% if @attending || @creator %>
      <%= link_to "Visit Chat", chatroom_path(@sport_session.chatroom), class: "btn btn-primary w-100 my-3" %>
    <% else %>
      <%= link_to "Join", sport_session_attendees_path(@sport_session), data: { turbo_method: "post" }, class: "btn btn-primary w-100 my-3" %>
    <% end %>
  </div>
  <div class="container rounded-2 d-flex justify-content-center mb-3" >
    <div class="rounded-2" style="width: 100%; height: 500px;"
      data-controller="map"
      data-map-markers-value="<%= @markers.to_json %>"
      data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>
  </div>
</div>
