<div class="d-flex justify-content-center" >
  <div class="banner">
    <%= cl_image_tag @sport_session.sport_category.photo.key, height: 258, width: 390, crop: :fill %>
    <%= link_to "Join", "#", class: "btn btn-primary position-absolute bottom-0 start-0 ms-3 mb-3" %>
    <button class="btn btn-primary btn-sm position-absolute top-0 end-0 me-3 mt-3"><%= @sport_session.skill_level %></button>
    <%= image_tag "user_lisa.jpg",class:"avatar_banner" %>
  </div>
</div>
<p class="position-absolute end-0 me-2"><strong><%= @sport_session.price == 0 ? "No fee" : number_with_precision(@sport_session.price, precision: 2) %><%= @sport_session.price == 0 ? "" : "€" %></strong></p>
<div class="mx-3">
  <h1 class="mt-3"><%= @sport_session.title %></h1>
  <div class="d-flex flex-row mb-1">
    <i class="fa-solid fa-location-dot me-3 mt-2"></i><p class="mt-2"><%= @sport_session.venue.address %></p>
  </div>
  <p><%= @sport_session.description %></p>

  <div class="d-flex flex-row mb-3">
    <i class="fa-solid fa-phone me-3"></i><% formatted_phone_number = number_to_phone(@sport_session.user.phone_number, area_code: true) %>
    <%= link_to formatted_phone_number, "Call Buddy" %>
  </div>
  <div class="d-flex flex-row mb-2">
    <i class="fa-solid fa-clock me-3"></i><p><%= @sport_session.start_time.strftime("%d.%m.%Y, %H:%M") %> - <%= @sport_session.end_time.strftime("%H:%M") %></p>
  </div>
  <div class="d-flex flex-row">
    <i class="fa-solid fa-user me-3"></i><p><%= @sport_session.max_attendees %> Available Buddies</p>
  </div>
</div>
