<div class="container pt-3 chatrooms-list">
  <h1 class="mb-4">Chatrooms</h1>
    <% if @chatrooms.any? %>
      <div class="row mx-0">
        <% @chatrooms.each do |chatroom| %>
          <div class="col-md-4 mb-4">
            <div class="card bg-white row">
              <div class="card-body">
                <%= link_to chatroom_path(chatroom) do %>
                  <div class="d-flex align-items-center">
                    <%= cl_image_tag chatroom.sport_session.sport_category.photo.key, height: 60, width: 60,crop: :fill, class: "rounded-circle me-3" %>
                    <div class="single-line-text">
                      <h5 class="card-title"><%= chatroom.sport_session.title %></h5>
                      <% if chatroom.messages.any? %>
                        <p class="mb-0"><strong><%= chatroom.messages.last.user.first_name %>:</strong> <%= chatroom.messages.last.content %></p>
                      <% else %>
                        <p class="mb-0">No messages in this chatroom yet</p>
                      <% end %>
                    </div>
                  </div>
                <% end %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    <% else %>
      <p>No chatrooms available.</p>
    <% end %>
</div>
