<div class="container justify-content-center">
  <div class="my-3" >
    <%= form_with url: sport_sessions_path, method: :get do %>
      <div>
        <h5 class="my-3"><strong>Find your sport match here:</strong></h5>
        <div class="form-floating mb-3">
          <%= text_field_tag :sport,
            params[:sport],
            class: "form-control",
            placeholder: "Type in your sport..."
          %>
          <label for="sport">Type in your sport...</label>
        </div>
        <div class="form-floating mb-3">
          <%= text_field_tag :address,
            params[:address],
            class: "form-control",
            placeholder: "Add the location..."
          %>
          <label for="address">Add the location...</label>
        </div>
        <div class="my-3">
          <%= date_field :date,
            params[:date],
            class: "form-control py-3",
            placeholder: "Date",
            as: :string,
            input_html: { data: { controller: "birthdate" } }
          %>
        </div>

        <div class="">
          <%= submit_tag "Search", name: "", class: "btn w-100 btn-primary" %>
        </div>
      </div>
    <% end %>
  </div>

  <% @sport_categories.sort_by(&:name).each do |cat| %>
    <a href="/sport_sessions?sport=<%= cat.name %>">
      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path cat.photo.key, height: 300, crop: :fill %>')">
          <%= cat.name %>
      </div>
    </a>
  <% end %>

</div>
